div {
    width: 700px;
    height: 1760px;
    margin: auto;
    background-color: white;
    box-shadow: 3px 3px 6px black;
    padding: 10px;
}

hgroup h1 {
    text-align: center;
}
hgroup h2 {
    text-align: center;
}

ul {
    list-style: none;
    margin-left: 130px;
}
ul li {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px;
    box-shadow: 2px 2px 3px black;
}
ul li:hover {
    background-color: blue;
    transition: all 1s;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}

img#fotoMenu {
    width: 100px;
    float: right;
    border-radius: 100%;
    margin-right: 30px;
}

/* Abaixo só está na segunda página */

img {
    width: 300px;
    border-radius: 100%;
}

iframe#aiframe {
    width: 240px;
    height: 458px;
    margin-left: 20px;
    margin-top: 100px;
}