@font-face {
    font-family: 'novafonte';
    src: url('../fontes/idroid.otf');
}

body {
    background-color: rgb(238, 248, 203);
    color: var(--cor1);
}

header#cabecalho {
    background-image: linear-gradient(to top, rgb(2, 46, 2), rgb(53, 143, 53));
}

header#cabecalho h1, h2 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 3px black;
}

header#cabecalho h1 {
    font-size: 25px;
    padding: 10px;
}

header#cabecalho h2 {
    font-size: 20px;
}

main {
    width: 800px;
    background-color: white;
    margin: auto;
    padding: 5px 20px;
}

main h1 {
    font-family: 'novaFonte';
    color: rgb(2, 46, 2)
}

main h2.principal {
    font-family: 'novaFonte';
    color: rgb(2, 46, 2);
    text-align: left;
    background-image: linear-gradient(to right, green, rgba(0, 128, 0, 0));
    padding: 0px 10px;
}

main p {
    text-indent: 20px;
    text-align: justify;
}

/* abaixo menu */

nav ul#menu span {
    display: none;
}

nav ul#menu {
    list-style: none;
}

nav ul#menu li {
    display: inline-block;
    color: rgb(53, 143, 53);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1s;
}

nav ul#menu li:hover {
    background-color: green;
    color: rgb(2, 46, 2);
}

nav ul#menu a {
    color: rgb(148, 238, 148);
    font-weight: bold;
    text-decoration: none;
}

nav ul#menu li:hover a {
    color: rgb(2, 46, 2);
}

/* links abaixo */

a {
    background-color: green;
    text-decoration: none;
    padding: 0px 4px;
    color: rgb(2, 46, 2);
}

/* bold abaixo */

b {
    color: green;
}

/* imagens abaixo */

img {
    margin-left: 200px;
    width: 100%;
}

/* minha section abaixo */

section#tabela {
    background-color: green;
    border-radius: 10px;
    padding: 10px;
}

section#tabela h2 {
    text-align: left;
    background-color: rgb(2, 46, 2);
    padding: 10px;
}

section#tabela tr td.dir {
    float: right;
}